/* Sidebar.css */
/* Sidebar.css */
.sidebar {
    
    background: #1E2640;
    display: flex;
    flex-direction: column;
    
    width:15.5555%;
height: 922px;
padding-left: 10px;
padding-top: 16px;


  }
  
  .sidebar-option {
    display: flex;
width: 208px;
padding: 8px 16px ;
align-items: flex-start;
gap: 12px;
border-radius: 4px;
color: var(--Black-100, #FFF);

/* Body 2 / Medium */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
opacity: 0.8;
/* border: 1px solid white; */
  }
  
  .sidebar-option span {
    margin-left: 10px;
  }
  
  .sidebar-option.selected {
    background: rgba(241, 236, 236, 0.1);
    border-radius: 4px;
  }
  
  .logo{
    width: 39px;
    height: 39px;
    /* position: absolute; */
left: 0.5px;
top: 0.5px;
border-radius: 4px;
/* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  }

  .logobox{
    display: flex;
width: 192px;
height: 42px;
align-items: center;
gap: var(--Spacing-spacing-05, 12px);
margin-bottom: 24px;
/* border: 1px solid white; */
  }

  

  .sidebar1{
    width: 208px;
    height: 754px;
    /* border: 1px solid white; */
  }

  .logobox1{
    width: 108px;
    height: 38px;
    color: var(--Black-100, #FFF);

    /* border: 1px solid white; */
  }
.name1{
  align-self: stretch;
  
color: var(--Black-100, #FFF);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 146.667% */
/* border: 1px solid white; */

}
.name2{
  align-self: stretch;
  color: var(--Black-100, #FFF);
font-family: Galano Grotesque;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
text-decoration-line: underline;
/* border: 1px solid white; */

}

.name11{
  color: var(--Black-100, #FFF);

/* Sub Body/Regular */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
opacity: 0.8;
}

.name22{
  color: var(--Black-100, #FFF);

/* Sub Title/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
text-align: left;
}

.logo1{
  width: 24px;
height: 24px;

}

.logobox22{
  /* height: 42px;  */
  /* display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2px; */

/* width: 101px;
height: 42px; */

}

.logobox2{
  display: flex;
  width: 192px;
  /* height: 54px; */
  /* align-items: center; */
  /* gap: var(--Spacing-spacing-05, 12px); */
  /* margin-bottom: 24px; */
  /* border: 1px solid white; */
  border-radius: 4px;
background: #353C53;
/* display: flex; */
/* width: 192px; */
padding-top: 6px;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.logobox21{
  width: 149px;
  height: 42px;
  display: flex;
align-items: center;
gap: var(--Spacing-spacing-05, 12px);
}

.logo2{
  display: flex;
padding: 6px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.10);
}
.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
width: 1216px;
height: 40px;
padding: 12px 32px;
align-items: center;
gap: 16px;
border-bottom: 1px solid #D9D9D9;
background: var(--Black-100, #FFF);
/* border:1px solid red */
}

.s1{
  width: 360px;
  height: 28px;
  /* border: 1px solid black; */
  display: flex;
align-items: center;
justify-content: center;
gap: 6px;
}

.s2{
  width: 400px;
  height: 22px;
  /* border: 1px solid black; */
  display: flex;

padding: 9px 16px;
align-items: center;
gap: var(--Spacing-spacing-04, 8px);
flex-shrink: 0;
align-self: stretch;
border-radius: 6px;
background: #F2F2F2;
}

.s3{
  width: 360px;
  height: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--Spacing-spacing-04, 8px);
  flex: 1 0 0;
}
 

.s11{
  color: #4D4D4D;

/* Caption/Regular */
font-family: Galano Grotesque;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
width: 74px;
height: 16px;
border:#4D4D4D;

}

.s22{
  color: #808080;
font-family: Galano Grotesque;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 146.667% */
/* width: 218px;
height: 22px; */
/* border: 1px solid black; */
}

.menu{
  width: 40px;
height: 40px

}

.overview{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
background: var(--Black-98, #FAFAFA);
/* border: 1px solid black; */
margin: 32px;

}

.o1{
  color: var(--Black-12, #1A181E);
  font-family: Galano Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */ /* 140% */
}

.o2{
  width: 137px;
height: 100%;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.o22{
  color: var(--Black-30, #4D4D4D);
font-family: Galano Grotesque;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}



.flexbox{
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-spacing-07, 20px);
  gap: 20px;
  align-self: stretch;
  /* border: 1px solid black; */
  /* width: 1152px; */
  height: 154px;
  /* border: 1px solid black; */
  margin: 32px;
background: var(--Black-98, #FAFAFA);

}

.flexbox>div{
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-spacing-07, 20px);
  align-self: stretch;
/* border: 1px solid black; */

}

.f1{
  height: 118px;
  display: flex;
padding: var(--Spacing-spacing-07, 20px);
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
border-radius: var(--Spacing-spacing-04, 8px);

/* Shadow/Card */
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
background: var(--Primary-Blue, #146EB4);
}

.f2{
  /* width: 370px; */


  height: 118px;
  display: flex;
padding: var(--Spacing-spacing-07, 20px);
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
border-radius: var(--Spacing-spacing-04, 8px);
background: var(--Black-100, #FFF);

/* Shadow/Card */
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.f1111{
  width: 331px;
  height: 36px;
  display: flex;
justify-content: space-between;
align-items: center;
gap: 16px;
/* border: 1px solid white; */
}

.f11111{
  width: 131px;
  height: 36px;
  display: flex;
justify-content: space-between;
align-items: center;
gap: 16px;
}

.f12{
  display: flex;
width: 331px;
height: 36px;
/* padding: var(--Spacing-spacing-04, 8px) 24px; */
justify-content: space-between;
align-items: flex-start;
/* position: absolute; */
right: -0.003px;
bottom: 0px;
color: white;
/* padding-left: 24px;
padding-right: 24px; */
/* border: 1px solid white; */
border-radius: var(--Spacing-spacing-04, 8px);
/* background: var(--Hover-Blue, #0E4F82); */
}

.f121{
  color: white;
  color: var(--Black-95, #F2F2F2);
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.f122{
  color: var(--Black-95, #F2F2F2);
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.f11{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
width: 331px;
height: 78px;
/* border: 1px solid black; */
border-radius: var(--Spacing-spacing-04, 8px);
background: var(--Primary-Blue, #146EB4);


}

.f22{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
width: 331px;
height: 78px;
/* border: 1px solid black; */
background-color: white;

}

.f222{
  color: var(--Black-30, #4D4D4D);

/* Sub Title/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.f223{
  color: var(--Black-12, #1A181E);
font-family: Galano Grotesque;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 118.75% */
}

.f111{
  color: white;

/* Sub Title/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.f112{
  color: white;

font-family: Galano Grotesque;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 118.75% */
}
.content{
  width: 84.44%;
background: var(--Black-98, #FAFAFA);

}

.trans{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--Spacing-spacing-07, 20px);
/* border: 1px solid black; */
margin-bottom: 20px;
background: var(--Black-98, #FAFAFA);


}

.trans2{
  display: flex;
  align-items: flex-start;
  gap: var(--Spacing-spacing-05, 12px);
  
/* border: 1px solid black; */

}

.b1{
  display: flex;
padding: 6px 16px;
align-items: center;
gap: 6px;
border-radius: 40px;
background: var(--Primary-Blue, #146EB4);
color: white;
}

.b2{
  display: flex;
padding: 6px 16px;
align-items: center;
gap: 10px;
border-radius: 40px;
background: var(--Black-90, #E6E6E6);
}

.p1{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
/* border: 1px solid black; */
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.p11{
  /* width: 248px;
  height: 40px; */
  display: flex;
padding: 10px 16px;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 4px;

}

.p12{
  width: 79px; 
   height: 36px;
  display: flex;
/* padding: 6px var(--Spacing-spacing-05, 12px); */
align-items: center;
gap: 6px;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
  
}

.p122{
  width: 33px;
  height: 24px;
  color: var(--Black-30, #4D4D4D);

/* Sub Title/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.p13{
  width: 36px;
  height: 36px;
  border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}
.f2222{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.f1111{
  display: flex;
/* justify-content: center; */
align-items: center;
align-self: stretch;

}

.f224{
  color: var(--Primary-Blue, #146EB4);
  font-family: Galano Grotesque;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}
.f114{
  color: var(--Primary-Blue, white);
  font-family: Galano Grotesque;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}


.part3{
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  gap: var(--Spacing-spacing-07, 20px);
  margin: 32px;
}

.p111{
  flex: 1 0 0;
  color: var(--Black-60, #999);

/* Body 2 / Regular */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.p112{
  display: flex;
  gap: 6px;
}

.p2{
  display: flex;
/* width: 1128px; */
padding: 10px var(--Spacing-spacing-05, 12px);
align-items: center;
gap: 40px;
/* border: 1px solid black; */
border-radius: 4px;
background: var(--Black-95, #F2F2F2);
}

.p41{
  display: flex;
/* width: 1128px; */
padding: 10px var(--Spacing-spacing-05, 12px);
justify-content: space-between;
align-items: center;
border-radius: 4px;
background: var(--Black-95, #F2F2F2);
color: var(--Black-30, #4D4D4D);


}

.p41>div{
  display: flex;
width: 150.67px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: -1px;
flex-shrink: 0;

color: var(--Black-30, #4D4D4D);
text-align: right;

/* Body 2 / Medium */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.p2>div{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: -1px;
flex: 1 0 0;
  width: 150.666px;
  height: 20px;
/* border: 1px solid black; */

color: var(--Black-30, #4D4D4D);
text-align: right;

/* Body 2 / Medium */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.p3{
  display: flex;
/* width: 1128px; */
padding: 14px var(--Spacing-spacing-05, 12px);
align-items: center;
gap: 40px;
/* border: 1px solid black; */
border-bottom: 1px solid #E6E6E6;
border-radius: 4px;
background-color: white;
}

.p4{
  display: flex;
/* width: 1128px; */
/* height: 48px; */
padding: 14px var(--Spacing-spacing-05, 12px);
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #E6E6E6;

  background: var(--Black-100, #FFF);
}


.p4>div{
  display: flex;
  width: 150.67px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -1px;
  flex-shrink: 0;
  background: var(--Black-100, #FFF);
  /* color: var(--Black-12, #1A181E); */

/* Body 2/Regular */
color: var(--Black-30, #4D4D4D);
text-align: right;

/* Body 2 / Medium */
color: var(--Black-30, #4D4D4D);

/* Body 2 / Regular */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}



.p3>div{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: -1px;
flex: 1 0 0;
  width: 150.666px;
  height: 20px;
/* border: 1px solid black; */

color: var(--Black-30, #4D4D4D);
text-align: right;

/* Body 2 / Medium */
font-family: Galano Grotesque;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

/* .f2{
  display: flex;
width: 150.67px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: -1px;
flex-shrink: 0;
}

.f21{
  width: 10px;
  height: 10px;
  fill: var(--Secondary-Green, #17B31B);
} */